<table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr data-groupId="{{ group.id }}">
            <!-- Position -->
            <td>{{ group.position }}</td>
            <!-- Name -->
            <td>{{ group.name }}</td>
            <!-- Actions -->
            <td class="actionButtons">
                <a href="#" role="button" onclick="openEditMediaGroupsMediasModal(event, {{ group.id }})"><i class="fa fa-link"></i></a>
                <a href="#" role="button" onclick="openEditMediaGroupModal(event, {{ group.id }})"><i class="fa fa-wrench"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>