{% extends "AdminBundle:Layouts:master.html.twig" %}

{% set title = 'Promo Codes' %}

{% block head %}
    <!-- iCheck -->
    <link href="{{ asset('node_modules/icheck/skins/flat/green.css') }}" rel="stylesheet">
    {% include 'AdminBundle:Plugins:data_tables.css.html.twig' %}

{% endblock %}

{% block panel_toolbox %}
    <li><a id="add_promocode"><i class="fa fa-plus"></i></a>
{% endblock %}

{% block body %}
    <div id="promocodesTableContainer">
        {{ include('AdminBundle:Default:promocodesTable.html.twig', { 'promoCodes': promoCodes }) }}
    </div>
{% endblock %}

{% block modals %}
    <div id="modals"></div>
{% endblock %}

{% block scripts %}
    <!-- iCheck -->
    <script src="{{ asset('node_modules/icheck/icheck.min.js') }}"></script>
    <script src="{{ asset('node_modules/bootstrap-validator/dist/validator.min.js') }}"></script>
    {% include 'AdminBundle:Plugins:data_tables.js.html.twig' %}

    <script>
        $("#datatable").DataTable();

        $(document).on("submit", "#promocode-form", function(e){
            e.preventDefault();
            return  false;
        });

        function openEditPromoCodeModal(event, promoCodeId) {
            event.preventDefault();
            $.get("{{ path('admin_editPromoCodeModal') }}/"+promoCodeId, createEditPromoCodeModal)
        }

        $('#add_promocode').click(function(e) {
            $.get("{{ path('admin_editPromoCodeModal', { promoCodeId : 'new' }) }}", createEditPromoCodeModal)
        });

        $(document).on("click", "#promo_code_form_save", function(e){
            e.preventDefault();

            // get the properties and values from the form
            form = $("#promocode-form");

            if(!form.data('bs.validator').validate().hasErrors()) {
                data = new FormData(form[0])

                disableModalInputs(true);

                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: data,
                    contentType: false, //this is requireded please see answers above
                    processData: false, //this is requireded please see answers above
                    error   : function(data) {showError("Une erreur est survenue, veuillez réessayer.");disableModalInputs(false);},
                    success : function(data) {
                        data = JSON.parse(data);
                        if (data.success) {
                            showSuccess("Promo Code enregistré");
                            updateTable();
                            $("#editPromoCodeModal").modal('hide');
                        }
                        else if (data.error) {
                            showError(data.message);
                        }
                        else {
                            showError("Une erreur est survenue, veuillez réessayer.");
                        }
                        disableModalInputs(false);
                    }
                });
            }
        });

        function createEditPromoCodeModal(data) {
            try
            {
                var dataJson = JSON.parse(data);
                if (dataJson.error)
                    showError(dataJson.message);
            }
            catch(e)
            {
                $('#modals').html(data);
                $("#editPromoCodeModal").modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $("#promocode-form").validator();
            }
        }

        function updateTable() {
            $.get("{{ path('admin_getPromoCodesTable') }}", function(data) {
                try
                {
                    var dataJson = JSON.parse(data);
                    if (dataJson.error)
                        showError(dataJson.message);
                }
                catch(e)
                {
                    $('#promocodesTableContainer').html(data);
                    $("#datatable").DataTable();
                }
            })
        }
    </script>
{% endblock %}