{% extends "AdminBundle:Layouts:master.html.twig" %}

{% set title = 'Utilisateurs' %}

{% block head %}
    <!-- iCheck -->
    <link href="{{ asset('node_modules/icheck/skins/flat/green.css') }}" rel="stylesheet">
    {% include 'AdminBundle:Plugins:data_tables.css.html.twig' %}

{% endblock %}

{% block body %}
    <table id="datatable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Enabled</th>
            <th>Roles</th>
            <th>Last Login</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr data-userId="{{ user.id }}">
                <!-- Name -->
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <!-- Username -->
                <td>{{ user.username }}</td>
                <!-- Email -->
                <td>{{ user.email }}</td>
                <!-- Enabled -->
                {% if user.enabled %}
                <td><i class="fa fa-check"></i></td>
                {% else %}
                <td><i class="fa fa-times"></i></td>
                {% endif %}
                <!-- Roles -->
                <td class="td-roles">
                {% for role in user.roles %}
                {{ role }}
                {% endfor %}
                <a href="#" role="button" class="editButton" onclick="openEditUserRightsModal(event, {{ user.id }})"><i class="fa fa-wrench"></i></a>
                </td>
                <!-- Last Login -->
                {% if user.lastLogin is not null %}
                <td>{{ user.lastLogin|date('d-M-Y') }}</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modals %}
<div id="modals"></div>
{% endblock %}

{% block scripts %}
    <!-- iCheck -->
    <script src="{{ asset('node_modules/icheck/icheck.min.js') }}"></script>
    {% include 'AdminBundle:Plugins:data_tables.js.html.twig' %}

    <script>
        $("#datatable").DataTable();

        function openEditUserRightsModal(event, userId) {
            event.preventDefault();
            $.get("{{ path('admin_editUsersRolesModal') }}/"+userId, function(data) {
                if (data.error) {
                    showError(data.message);
                } else {
                    $('#modals').html(data);
                    $("#editUserRolesModal").modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                }
            })
        }

        function addUserRole(userId, role) {
            disableModalInputs(true);
            $.post("{{ path('admin_editUsersRolesModal') }}/"+userId, {role: role}, function(data) {
                data = JSON.parse(data);
                if (data.success) {
                    $('#editUserRolesModal #userRoles').append("<li class=\"list-group-item\">" + role +
                        "<button type=\"button\" class=\"btn btn-danger btn-xs deleteRoleButton\" onclick=\"deleteUserRole(" + userId + ", '" + role + "');\">Supprimer</button>" +
                        "</li>");
                    $("tr[data-userId=" + userId + "] .td-roles").prepend(role);
                }
                else if (data.error) {
                    showError(data.message);
                }
                else {
                    showError("Une erreur est survenue, veuillez réessayer.")
                }
                disableModalInputs(false);
            })
        }

        function deleteUserRole(userId, role) {
            disableModalInputs(true);
            $.post("{{ path('admin_editUsersRolesModal') }}/"+userId, {role: role, delete: true}, function(data) {
                data = JSON.parse(data);
                if (data.success) {
                    $('#editUserRolesModal #userRoles li:contains('+ role +')').remove();
                    var userRolesTd = $("tr[data-userId=" + userId + "] .td-roles");
                    userRolesTd.html(userRolesTd.html().replace(new RegExp(role, "g"), '').replace(/\s\s/g, ' '));
                }
                else if (data.error) {
                    showError(data.message);
                }
                else {
                    showError("Une erreur est survenue, veuillez réessayer.")
                }
                disableModalInputs(false);
            })
        }
    </script>
{% endblock %}