<table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Title</th>
        <th>Email</th>
        <th>Enabled</th>
        <th>Coins</th>
        <th>Roles</th>
        <th>Last Login</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr data-userId="{{ user.id }}">
            <!-- Name -->
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <!-- Username -->
            <td>{{ user.username }}</td>
            <!-- Title -->
            {% if user.title %}
            <td>{{ user.title.name }}</td>
            {% else %}
            <td></td>
            {% endif %}
            <!-- Email -->
            <td>{{ user.email }}</td>
            <!-- Enabled -->
            {% if user.enabled %}
            <td><i class="fa fa-check"></i></td>
            {% else %}
            <td><i class="fa fa-times"></i></td>
            {% endif %}
            <!-- Coins -->
            <td>
            {{ user.coins }}
            <a href="#" role="button" class="editButton" onclick="openUserTransactionsHistoryModal(event, {{ user.id }})"><i class="fa fa-list"></i></a>
            <a href="#" role="button" class="editButton" onclick="openAddUserFundsModal(event, {{ user.id }})"><i class="fa fa-plus-square-o"></i></a>
            </td>
            <!-- Roles -->
            <td class="td-roles">
            {% for role in user.roles %}
            {{ role }}
            {% endfor %}
            <a href="#" role="button" class="editButton" onclick="openEditUserRightsModal(event, {{ user.id }})"><i class="fa fa-wrench"></i></a>
            </td>
            <!-- Last Login -->
            {% if user.lastLogin is not null %}
            <td>{{ user.lastLogin|date('d-M-Y') }}</td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>